<% provide(:title, "Evaluations") %>

<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Evaluator</th>
      <th>Evaluatee</th>
      <th>Project</th>
      <th>Score</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.evaluator %></td>
        <td><%= evaluation.evaluatee %></td>
        <td><%= evaluation.project %></td>
        <td><%= evaluation.score %></td>
        <td><%= evaluation.comments %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <% if student_logged_in? %>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <% end %>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
