<% provide(:title, @group.name) %>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<h1>Students in <%= @group.name %></h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.students.sort_by {|student| student.name.downcase}.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <% if admin_logged_in? %>
          <td><%= link_to 'Show', student %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if admin_logged_in? %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', groups_path %>
<% end %>


