<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <div class="background"></div>
    <div class="main">
      <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <div class="content-container">
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
        <br>
      </div>
    </div>
  </body>
</html>
